body {
    background: url(./assets/images/background2.png);
    width: 100%; 
    overflow-x: hidden;
    box-sizing: border-box;
}

@font-face {
    font-family: Bright;
    font-style: normal;
    font-weight: normal;
    src: local("Bright"), url(./assets/fonts/Bright.otf) format('opentype');
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    src: local("Monserrat-Regular"), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    color: #d0c8b3;
    box-sizing: border-box;
    font-family: Monserrat;
}

.font-title {
    font-family: Bright;
}

.font-mont {
    font-family: Monserrat;
}

h1 {
    font-size: calc(0.5rem + 4vmin);
    font-family: Bright;
    font-weight: 100;
}

h2 {
    font-size: calc(0.5rem + 2vmin);
    font-family: Monserrat;
}

h3 {
    font-size: calc(0.5rem + 1.5vmin);
}

p {
    font-size: calc(0.5rem + 1.5vmin);
    font-family: Monserrat;
}

label{
    margin: 0 3vmin;
}

.back {
    text-align: left;
    margin-bottom: 5vmin;
    cursor: pointer;
    text-decoration: none;
}

.back:hover {
    color: #3e6456;
}

.hero-container {
    z-index: 0;
    /* width: 100%; */
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    justify-content: space-evenly;
    padding: 10vmin 10vmin;
    text-align: center;
    position: relative;
    overflow: auto;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5vmin;
}


/* //Tombol Kandidat */

.button {
    border: none;
    background: url(./assets/images/background1.png);
    background-size: cover;
    min-width: 30%;
    padding: 2vmin;
    display: inline-block;
    border-radius: 12px;
    text-decoration: none;
    margin: 20px 10% 20px 10%;
    transition-duration: 0.2s;
    cursor: pointer;
    border: 2px #d0c8b3;
  }
  
  
  .button:hover{
    transform: scale(1.02);
    transition-duration: 0.05s;
    box-shadow: 0 12px 100px 0 #d0c8b3, 0 5px 70px 0 #302f2b;  
  }
  
  .button:active{
    transform: scale(0.97);
    transition-duration: 0.05s;
    box-shadow: 0 12px 100px 0 #d0c8b3, 0 5px 70px 0 #302f2b;  
  }

.cta {
    color: #3e6456;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background: url(./assets/images/background2.png);
    margin: auto;
    padding: 5vmin 10vmin;
    border: 5px solid #3e6456;
    width: 80vw;
    min-height: 70%;
    z-index: 6;
    font-family: Montserrat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* The Close Button */

.close {
    color: #d0c8b3;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: right;
    position: absolute;
    right: 13vw;
    top: 120px;
}

.close:hover,
.close:focus {
    color: #3e6456;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

#modalTitle {
    color: #d0c8b3;
}

.confirmBtn {
    text-align: center;
    cursor: pointer;
    padding: 1vmin 3vmin;
    border-radius: 5px;
    width: 180px;
    font-size: calc(0.5rem + 1.2vmin);
    margin: 5px;
}

@media(max-width: 1024px) {
    .hero-container {
        justify-content: start;
    }
    .content-container {
        align-items: center;
    }
    #button1 {
        margin-bottom: 10%;
    }
    .cta {
        margin: 3vmin;
    }
    .path {
        display: none;
    }
}

  /* HIDE RADIO */

  .hiddenradio{
      margin-top: 5vmin;
      background: url(./assets/images/background1.png);
      padding: 5vmin;
     width: auto;
     border-radius: 20px;
  }

  .choice{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .hiddenradio h1{
      margin-bottom: 4vmin;
  }
    .hiddenradio [type=radio] { 
    position: absolute;
    opacity: 0;
  }
  
  /* IMAGE STYLES */
  .hiddenradio [type=radio] + img {
    cursor: pointer;
    width: 40vmin;
  }
  
  /* CHECKED STYLES */

  .hiddenradio [type=radio]:checked + img {
    transform: scale(1.02);
    background: none;
    outline: 3px solid #d0c8b3;
    border-radius: 20px;
}

@media(max-width: 760px) {
    .choice{
        flex-direction: column;
    }
}
